html(ng-app="dp")
	head
		link(rel="stylesheet", type="text/css", href="index.css")
		title Diagrammatic Programming Editor
	body
		dp-activation
		dp-valuation
		script(src="angular.min.js")
		script(src="index.js")
