html(ng-app="dp")
	head
		link(rel="stylesheet", type="text/css", href="index.css")
		title Diagrammatic Programming Editor
	body
		h1 Future home of {{'something'}}
		script(src="angular.min.js")
		script(src="index.js")
